# Created by .ignore support plugin (hsz.mobi)
### Node template
# Logs
.vscode
./.vscode
/bin/
/target/
/.idea/
/.settings/
/.flattened-pom.xml
*.iml
*.classpath
*.project
*.war
*.jar
*.class
**/target/*
target/*
.vscode/settings.json